.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0 35px 0;
  border-style: inset;
  border-color: coral;
  border-width: 7px;
  border-radius: 25px;
  margin-top: 50px;
  width: 25%;
  height: 50%;
}

.Display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

.Button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
