.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0 35px 0;
  border-style: inset;
  border-color: coral;
  border-width: 7px;
  border-radius: 25px;
  margin-top: 50px;
  width: 25%;
  height: 50%;
}

.Display {
  display: flex;
  align-items: center;
  justify-content: center;
}
